---
import "../css/style.css";
import "../css/font.css";
import "../css/animation.css";
import "../css/fontawesome/css/all.min.css";
import MainLayout from "../layouts/MainLayout.astro";
const title: string = "Default Title";
// import imges
import sto1 from "../assets/images/sto1.jpg";
import sto2 from "../assets/images/sto2.jpg";
import sto3 from "../assets/images/sto3.jpg";
import sto4 from "../assets/images/sto4.jpg";
import sto5 from "../assets/images/sto5.jpg";
import sto6 from "../assets/images/sto6.jpg";
import sto7 from "../assets/images/sto7.jpg";
import sto8 from "../assets/images/sto8.jpg";
import sto9 from "../assets/images/sto9.jpg";
import sto10 from "../assets/images/sto10.jpg";
import sto11 from "../assets/images/sto11.jpg";
import sto12 from "../assets/images/sto12.jpg";
import sto13 from "../assets/images/sto13.jpg";
---
<MainLayout>
  
  <main class="py-10 min-h-screen flex flex-col items-center justify-center">  
      <div class="gallery-slider mb-7 flex items-center justify-center">
      <h3 class="text-5xl md:text-[5rem] text-black font-bold border bg-white opacity-20  p-6 rounded-tr-3xl rounded-bl-3xl ">Gallery</h3>
    </div>
    
    <div class="gallery  grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-6 mt-9">

    <img src={sto1.src} alt="work1" class="gallery-image rounded-tr-3xl rounded-bl-3xl" />
    <img src={sto3.src} alt="work3" class="gallery-image  rounded-tl-3xl rounded-br-3xl " />
    <img src={sto4.src} alt="work4" class="gallery-image   rounded-tr-3xl rounded-bl-3xl " />
    <img src={sto2.src} alt="work2" class="gallery-image rounded-tl-3xl rounded-br-3xl" />
    <img src={sto6.src} alt="work4" class="gallery-image rounded-tr-3xl rounded-bl-3xl " />
    <img src={sto7.src} alt="work4" class="gallery-image rounded-tl-3xl rounded-br-3xl " />
    <img src={sto8.src} alt="work4" class="gallery-image  rounded-tr-3xl rounded-bl-3xl" />
    <img src={sto9.src} alt="work4" class="gallery-image rounded-tl-3xl rounded-br-3xl" />
    <img src={sto10.src} alt="work4" class="gallery-image rounded-tr-3xl rounded-bl-3xl" />
    <img src={sto11.src} alt="work4" class="gallery-image rounded-tl-3xl rounded-br-3xl " />
    <img src={sto12.src} alt="work4" class="gallery-image rounded-tr-3xl rounded-bl-3xl" />
    <img src={sto5.src} alt="work4" class="gallery-image  rounded-tl-3xl rounded-br-3xl" />
    <img src={sto13.src} alt="work4" class="gallery-image rounded-tr-3xl rounded-bl-3xl " />
  </div>
  </main>
</MainLayout>

  <style>
   main {
    background: linear-gradient(180deg, #000428, #004e92, #000428);

   }
    .gallery {
      width: 90%;
            margin: 0 auto;
    }
    .gallery-image {
      width: 80%;
            height: 70%;
      object-fit: cover;
      box-shadow: 5px 5px 15px rgba(236, 232, 1, 0.836);
      box-shadow: -5px -5px 50px rgba(236, 232, 1, 0.836);
      transition: transform 0.3s ease;
    }
    
  </style>

