---
import "../css/style.css";
import "../css/font.css";
import "../css/animation.css";
import "../css/fontawesome/css/all.min.css";
import MainLayout from "../layouts/MainLayout.astro";
const title: string = "Default Title";
// import imges
import sto1 from "../assets/images/sto1.jpg";
import sto2 from "../assets/images/sto2.jpg";
import sto3 from "../assets/images/sto3.jpg";
import sto4 from "../assets/images/sto4.jpg";
import sto5 from "../assets/images/sto5.jpg";
import sto6 from "../assets/images/sto6.jpg";
import sto7 from "../assets/images/sto7.jpg";
import sto8 from "../assets/images/sto8.jpg";
import sto9 from "../assets/images/sto9.jpg";
import sto10 from "../assets/images/sto10.jpg";
import sto11 from "../assets/images/sto11.jpg";
import sto12 from "../assets/images/sto12.jpg";
import sto13 from "../assets/images/sto13.jpg";
---
<MainLayout>
  
  <main class="py-10">  <div class="gallery grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <img src={sto1.src} alt="work1" class="gallery-image" />
    <img src={sto3.src} alt="work3" class="gallery-image" />
    <img src={sto4.src} alt="work4" class="gallery-image" />
    <img src={sto2.src} alt="work2" class="gallery-image" />
    <img src={sto6.src} alt="work4" class="gallery-image" />
    <img src={sto7.src} alt="work4" class="gallery-image" />
    <img src={sto8.src} alt="work4" class="gallery-image" />
    <img src={sto9.src} alt="work4" class="gallery-image" />
    <img src={sto10.src} alt="work4" class="gallery-image" />
    <img src={sto11.src} alt="work4" class="gallery-image" />
    <img src={sto12.src} alt="work4" class="gallery-image" />
    <img src={sto5.src} alt="work4" class="gallery-image" />
    <img src={sto13.src} alt="work4" class="gallery-image" />
  </div>
  </main>
  <MainLayout/>
  <style>
   
    .gallery {
      width: 90%;
            margin: 0 auto;
    }
    .gallery-image {
      width: 100%;
            height: auto;
      object-fit: cover;
      border-radius: 10px;
      box-shadow: 5px 5px 15px rgba(236, 232, 1, 0.836);
      box-shadow: -5px -5px 50px rgba(236, 232, 1, 0.836);
      transition: transform 0.3s ease;
    }
    .gallery-image:hover {
      transform: scale(1.1);
      object-fit: contain;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }
    .gallery-item:hover .gallery-image {
      transform: scale(1.2);
    }
  
  </style>

