---
import "../css/style.css";
import "../css/font.css";
import "../css/fontawesome/css/all.min.css";
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
// import imges
import pic1 from "../assets/images/pic1.jpg";
import pic2 from "../assets/images/pic2.jpg";
import pic3 from "../assets/images/pic3.jpg";
import pic4 from "../assets/images/pic4.jpg";
import pic5 from "../assets/images/pic5.jpg";
import pic7 from "../assets/images/pic7.jpg";
import pic12 from "../assets/images/pic12.jpg";
---

<MainLayout>
  <section class="container mx-auto px-4 pt-80 mt-64 mb-60">
    <h2>Unsere Kurse</h2>
    <p class="text-center max-w-2xl mx-auto mb-8">Beschreibung über die Kurse</p>
    <p class="text-center max-w-2xl mx-auto mb-8">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam quasi consequatur qui maxime ipsum sint odio, harum delectus exercitationem suscipit?
    </p>

    <div class="flex flex-col gap-4">
     
   
 <Card
        title="Kurs2"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod."
        img={pic2.src}
        duration="2 Stunden"
        price="300€"
        date="2024-02-20"
      />
      <Card
        title="Kurs2"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod."
        img={pic1.src}
        duration="2 Stunden"
        price="300€"
        date="2024-02-20"
      />

      <Card
        title="Kurs3"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod."
        img={pic3.src}
        duration="2 Stunden"
        price="100€"
      />

      <Card
        title="Kurs4"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod."
        img={pic4.src}
        duration="2 Stunden"
        price="100€"
      />

      <Card
        title="Kurs5"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod."
        img={pic5.src}
        duration="2 Stunden"
        price="100€"
      />

      <Card
        title="Kurs6"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod."
        img={pic12.src}
        duration="2 Stunden"
        price="100€"
      />

      <Card
        title="Kurs7"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod."
        img={pic7.src}
        duration="2 Stunden"
        price="100€"
      />


      </div>
    </section>
    
    <section class="table-container">
      <table>
        <thead>
          <tr>
            <th>Kurs</th>
            <th>Preis</th>
            <th>Dauer</th>
            <th>Datum</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Kurs1</td>
            <td>100€</td>
            <td>3 Stunden</td>
            <td>2024-02-20</td>
          </tr>
          <tr>
            <td>Kurs2</td>
            <td>100€</td>
            <td>2 Stunden</td>
            <td>2024-02-20</td>
          </tr>
          <tr>
            <td>Kurs3</td>
            <td>100€</td>
            <td>2 Stunden</td>
            <td>2024-02-20</td>
          </tr>
          <tr>
            <td>Kurs4</td>
            <td>100€</td>
            <td>2 Stunden</td>
            <td>2024-02-20</td>
          </tr>
          <tr>
            <td>Kurs5</td>
            <td>100€</td>
            <td>2 Stunden</td>
            <td>2024-02-20</td>
          </tr>
        </tbody>
      </table>
    </section>
    
</MainLayout>

<style>
 
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(10deg,#ffd900af, #1f1b02c7 ,#7c6b0ad5, #000000 , #9b860e) ;
  color: #dabb10;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;

}
  
.table-container {
    width: 100%;
    overflow-x: auto;
        margin: auto;
    padding: 1rem;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    text-align: left;
    background: rgba(17, 17, 2, 0.3);
    box-shadow: 0 0 10px rgba(218, 65, 5, 0.87);
    border-radius: 10px;
    overflow: hidden;
}

td {
    padding: 1rem;
    border: none;
font-size: 1.4rem;
}

th {
    padding: 1rem;
    background: #222;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: #ec5a05 3px solid;
}

tr:nth-child(even) {
    background: rgba(20, 18, 11, 0.4);
}

tr:hover {
    background: #dfb016;
    color: #000;
}


</style>
