---
import "../css/style.css";
import "../css/font.css";
import "../css/fontawesome/css/all.min.css";
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
// import imges
import pic1 from "../assets/images/pic1.webp";
import pic2 from "../assets/images/pic2.webp";
import pic3 from "../assets/images/pic3.webp";
import pic4 from "../assets/images/pic4.webp";
import pic5 from "../assets/images/pic5.webp";
import pic7 from "../assets/images/pic7.webp";
import pic12 from "../assets/images/pic12.webp";
---

<MainLayout>
  <section class="container mx-auto px-4 pt-80  mb-16">
    <h2 class=" jump text-5xl text-center   text-yellow-200  ">Unsere Kurse</h2>
    <p class="text-center max-w-2xl mx-auto mb-8 text-2xl text-yellow-100">Alle Kurse sind online verfügbar mit Live-Support, Aufzeichnungen der Vorlesungen, flexiblen Lernzeiten, zertifizierten Abschlüssen und zusätzlichem Lernmaterial.</p>
   

    <div class="flex flex-col gap-4">
     
   
 <Card
        title="Grundlagen der Fotografie: Kamera, Licht und Komposition"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod."
        img={pic2.src}
        duration="2 Stunden"
        price="300€"
        date="2024-02-20"
      />
      <Card
        title="Porträtfotografie "
        description="Porträtfotografie: Ausdrucksstarke Gesichter mit Licht, Perspektive und Emotionen perfekt in Szene setzen."
        img={pic1.src}
        duration="2 Stunden"
        price="300€"
        date="2024-02-20"
      />

      <Card
        title="Streetfotografie"
        description="Streetfotografie: Authentische Momente und emotionale Szenen im urbanen Raum einfangen"
        img={pic3.src}
        duration="2 Stunden"
        price="100€"
      />

      <Card
        title="Produktfotografie für E-Commerce und Social Media"
        description="Lerne, Produkte professionell zu inszenieren und mit Licht, Perspektive und Bearbeitung perfekt für Online-Shops und Social Media zu präsentieren"
        img={pic4.src}
        duration="2 Stunden"
        price="100€"
      />

      <Card
        title="Architekturfotografie und Reisefotografie"
        description=" Beeindruckende Sehenswürdigkeiten kreativ in Szene setzen"
        img={pic5.src}
        duration="2 Stunden"
        price="100€"
      />

      <Card
        title="Mobile Fotografie: Profi-Bilder mit dem Smartphone"
        description="Lerne, schnelle Bewegungen und spannende Action mit der richtigen Technik und Ausrüstung professionell festzuhalten."
        img={pic12.src}
        duration="2 Stunden"
        price="100€"
      />

      <Card
        title="Dynamische Momente perfekt einfangen"
        description="Lerne, schnelle Bewegungen und spannende Action mit der richtigen Technik und Ausrüstung professionell festzuhalten."
        img={pic7.src}
        duration="8 Stunden"
        price="150€"
      />


      </div>
    </section>
    
    <section class="table-container">
      <table>
        <caption class="text-2xl text-orange-300">Übersicht der Fotografie-Kurse</caption>


        <thead>
          <tr>
            <th>Kurs</th>
            <th>Preis</th>
            <th>Dauer</th>
            <th>Datum</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="p-2">Sportfotografie</td>
            <td>100€</td>
            <td>12 Stunden</td>
            <td>2024-04-20</td>
          </tr>
          <tr>
            <td class="p-2" >Architekturfotografie</td>
            <td>100€</td>
            <td>10 Stunden</td>
            <td>2024-06-20</td>
          </tr>
          <tr>
            <td class="p-2">Porträtfotografie</td>
            <td>100€</td>
            <td>15 Stunden</td>
            <td>2024-08-20</td>
          </tr>
          <tr>
            <td class="p-2">Mobile Fotografie</td>
            <td>100€</td>
            <td>8 Stunden</td>
            <td>2024-10-01</td>
          </tr>
         
        </tbody>
      </table>
    </section>
    <a 
    href="#top"
    class="fixed bottom-6 right-6 bg-yellow-800 text-white text-xl px-4 py-2 
           rounded-tr-3xl rounded-bl-3xl hover:bg-green-500 transition duration-300"
  >
    Up
  </a>
</MainLayout>

<style>
 
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(10deg,#36300caf, #1f1b02c7 ,#7c6b0ad5, #000000 , #7e6c07b7) ;
  color: #dabb10;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;

}
  
.table-container {
    width: 100%;
    overflow-x: auto;
        margin: auto;
    padding: 1rem;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    text-align: left;
    background: rgba(17, 17, 2, 0.3);
    box-shadow: 0 0 10px rgba(218, 65, 5, 0.87);
    border-radius: 10px;
    overflow: hidden;
}

td {
    border: none;
font-size: 1.4rem;
}

th {
    padding: 1rem;
    background: #222;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: #ec5a05 3px solid;
}

tr:nth-child(even) {
    background: rgba(20, 18, 11, 0.4);
}

tr:hover {
    background: #dfb016;
    color: #000;
}
 

</style>
