---
import "../css/style.css";
import "../css/font.css";
import "../css/fontawesome/css/all.min.css";
import MainLayout from "../layouts/MainLayout.astro";
import Card from "../components/Card.astro";
// import imges
import pic1 from "../assets/images/pic1.jpg";
import pic2 from "../assets/images/pic2.jpg";
import pic3 from "../assets/images/pic3.jpg";
import pic4 from "../assets/images/pic4.jpg";
import pic5 from "../assets/images/pic5.jpg";
import pic7 from "../assets/images/pic7.jpg";
import pic12 from "../assets/images/pic12.jpg";
---

<MainLayout>
  <section class="container mx-auto px-4 pt-24">
    <h2>Unsere Kurse</h2>
    <p class="text-center max-w-2xl mx-auto mb-8">Beschreibung über die Kurse</p>
    <p class="text-center max-w-2xl mx-auto mb-8">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam quasi consequatur qui maxime ipsum sint odio, harum delectus exercitationem suscipit?
    </p>

    <div class="flex flex-col gap-4">
     
   
 <Card
        title="Kurs2"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod."
        img={pic2.src}
        duration="2 Stunden"
        price="300€"
        date="2024-02-20"
      />
      <Card
        title="Kurs2"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod."
        img={pic1.src}
        duration="2 Stunden"
        price="300€"
        date="2024-02-20"
      />

      <Card
        title="Kurs3"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod."
        img={pic3.src}
        duration="2 Stunden"
        price="100€"
      />

      <Card
        title="Kurs4"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod."
        img={pic4.src}
        duration="2 Stunden"
        price="100€"
      />

      <Card
        title="Kurs5"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod."
        img={pic5.src}
        duration="2 Stunden"
        price="100€"
      />

      <Card
        title="Kurs6"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod."
        img={pic12.src}
        duration="2 Stunden"
        price="100€"
      />

      <Card
        title="Kurs7"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod."
        img={pic7.src}
        duration="2 Stunden"
        price="100€"
      />


      </div>
    </section>
</MainLayout>

<style>
 
body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(10deg,#FFD700, #000000);
  color: #dabb10;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  scroll-behavior: smooth;

}
  

  
  
  
</style>
